[build.environment]
DISABLE_ESLINT_PLUGIN = "true"

[build]
command = "npm run build"
publish = ".next"

[[redirects]]
  from = "/_next/image/*"
  to = "/_next/image/:splat"
  status = 200

# Next.js static assets
[[redirects]]
  from = "/_next/static/*"
  to = "/_next/static/:splat"
  status = 200

# Next.js metadata routes (like robots.txt, sitemap, manifest)
[[redirects]]
  from = "/_next/*"
  to = "/_next/:splat"
  status = 200

# API functions for Next.js app router
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/next_api/:splat"
  status = 200

# ---------------------------------------------------------
# Catch-all fallback for client-side routed pages
# ---------------------------------------------------------
# [[redirects]]
#  to = "/index.html"
# status = 200

[[plugins]]
package = "@netlify/plugin-nextjs"

[[edge_functions]]
function = "block-crawler"
path = "/*"