[build.environment]
DISABLE_ESLINT_PLUGIN = "true"

[build]
command = "npm run build"
publish = ".next"
  
[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[plugins]]
package = "@netlify/plugin-nextjs"

[[edge_functions]]
function = "block-crawler" # Use the exact filename without extension
path = "/*"              
